.container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-blackjack-row-1 div {
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 350px;
}

.flex-blackjack-row-1 img {
    height: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 button, div {
    padding: 10px;
    margin-top: 45px;
}

.card-list-item {
    list-style-type: none;
    background-color: #b2b7bf;
    border: 1px solid black;
    height: 55px;
    margin-top: 5px;
    border-radius: 8px;
    padding: 14px;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
}
