<h1>Health#liveness</h1>
<p>Find me in app/views/health/liveness.html.erb</p>

<%= form_with url: health_trigger_job_path do |f| %>
<%= f.submit 'Launch job' %>
<% end %>


<%= form_with url: health_trigger_sentry_path do |f| %>
  <%= f.submit 'Trigger Error' %>
<% end %>
